body{
    background-color: #272B30;

}
/* Home */
.customContainer{
    width: 75%;
    margin: 0 auto;
}
.headerImg{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.navbar{
    width: 88%;
    margin: auto;
    margin-top: calc(-56px/2);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.7) ; 
}
.navLogo{
    width: 39px;
    height: 39px;
}
.navColor{
    background-color: #3A497B !important;
}
.navbar ul li a {
    font-size: 12px;
    color: #fff;
}
.nav-link{
    transition: all 0.5s;
}
.nav-link:focus {
    color:#0099CC;
}
.nav-link:hover{
    color:#0099CC;
}
.gameBtn{
    font-size: 12px;
    padding: 4px 8px;
    font-weight: bold;
    background-color: #0d6dfd8e;
    color: #fff;
}
.gameBtn:hover {
    background-color: #0D6EFD;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #272b3052;
}
.layer , .gameBtn , .card{
    transition: all 0.5s;
}
.card:hover .layer{
    background-color: #272b3000;
}
.card{
    cursor: pointer;
}
.card-title{
    font-size: 14px;
}
.card:hover .gameBtn{
        background-color: #0D6EFD;
}
.card:hover{
    transform: scale(1.03);
}
.gameTypeColor{
    background-color: #32383E;
    color: white;
    font-size: 10px;
}

/* gameInfo */
.gameInfo{
    background-color: #27282B;
}
.gameDetails{
    font-size: 12px;
    padding: 2px 7px;
    background-color: #0DCAF0;
    color: black;
}
.closeX{
    cursor: pointer;
}

/* Loader */


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: gray;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}